<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/ab-2.css" rel="stylesheet">
    <link href="assets/css/jumbotron.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--    Style-->
    <link rel="stylesheet" href="assets/css/style.css">

    <title>Stand-Alone & Series Audiobooks</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="//www.googletagmanager.com/gtag/js?id=UA-153143135-1"></script>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MDQMC3Z');</script>
    <!-- End Google Tag Manager -->
    <!--    Favicons-->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <!--    <link rel="manifest" href="assets/favicon/manifest.json">-->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<!--<noscript>-->
<!--    <iframe height="0"-->
<!--            src="https://www.googletagmanager.com/ns.html?id=GTM-MDQMC3Z" style="display:none;visibility:hidden"-->
<!--            width="0"></iframe>-->
<!--</noscript>-->
<!-- End Google Tag Manager (noscript) -->
<!--Navbar-->
<header>
    <div class="bg-dark collapse" id="navbarHeader" style="">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 py-4">
                    <h4 class="text-white">About this project</h4>
                    <p class="text-muted">I have been collecting Audiobooks for over a year and wanted to share,
                        responsibility what I have collected. Please do not connect directly to the shared google drive
                        account but download it to your own cloud storage. If you have any questions please contact
                        me.</p>
                </div>
                <div class="col-sm-6 col-md-6 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a class="text-white" href="mailto:joshuaedwardk@gmail.com">Email me</a></li>
                        <li><a class="text-white" href="Tel: 1-360-521-2040">Text</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <strong>JedwardK</strong>
            </a>
            <button aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler collapsed"
                    data-target="#navbarHeader" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<!--Header-->
<main role="main">

    <section class="audiobook-jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Audiobooks: Stand-Alone & Series</h1>
            <p class="lead text-muted">Audiobook instructions: copy The Audiobook to your Google Drive/Dropbox or any
                other
                Cloud Storage
                application.<br/>If the audiobook is in a Series or Stand-Alone Book, please navigate to the applicable
                section <br/><em>The filter will come later</em>
            </p>
            <a aria-disabled="true" class="btn btn-primary btn-sm"
               href="https://drive.google.com/open?id=104PiDY1fZHfwYmOJ9UtNNkwkQ334IGRA" role="button">Stand Alone</a>
            <a aria-disabled="true"
               class="btn btn-danger btn-sm" href="https://drive.google.com/open?id=1AiT6VZJlq6JlsrlIoH10vF_o818Rgv1D"
               role="button">Book Series</a>
            <a aria-disabled="true"
               class="btn btn-warning btn-sm" href="https://airtable.com/shr8zFimnp4ipWypk"
               role="button">Suggestion Form</a>
        </div>
    </section>


    <!--Content-->
    <div id="vue">
        <h1>Cards Hover, Load More, & Filter With Transitions</h1>
        <input class="search" placeholder="Search a title, description, or category" v-model="liveSearchString" />
        <div class="loading" v-show="loading"></div>
        <div class="images-wrapper" v-show="!loading">
            <transition-group name="image-wrapper" tag="div" class="images-inner">
                <div class="image-wrapper" v-for="(image, i) in truncatedFilteredImages" :key="image.id + i">
                    <div class="image-img" :style="{ background: 'url(' + image.url + ')' }"></div>
                    <div class="image-details">
                        <h3 class="image-title">{{ image.name }}</h3>
                        <p class="image-description"><span></span>{{ image.description | truncateText }}<span></span></p>
                        <p class="image-category">{{ image.category }}</p>
                    </div>
                </div>
            </transition-group>
        </div>
        <div class="load-wrapper" v-show="!loading && liveSearchString == ''">
            <div class="button-wrapper" v-if="!allLoaded">
                <button @click="showMore()">Load More</button>
            </div>
            <p v-else>ALL LOADED</p>
        </div>

        <div id="imageLoaderDock" style="display: none"></div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>

    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--vue JS - Airtable-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<!--paginator-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js"></script>
<!--<script src="assets/js/flip.js"></script>-->
<!--Bootstrap Related Script-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script>
    new Vue({
        el: "#vue",

        data() {
            return {
                loading: true,
                imagesLimit: 15,
                allLoaded: false,
                liveSearchString: '',
                images: [
                    {
                        id: 1,
                        url: 'http://via.placeholder.com/500x500',
                        bigUrl: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/apple.jpg',
                        name: 'Apple',
                        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
                        category: 'Fruit'
                    },
                    {
                        id: 2,
                        url: 'http://via.placeholder.com/500x500',
                        bigUrl: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/orange.jpg',
                        name: 'Orange',
                        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
                        category: 'Fruit'
                    },
                    {
                        id: 3,
                        url: 'http://via.placeholder.com/500x500',
                        bigUrl: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/peach.jpg',
                        name: 'Peach',
                        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
                        category: 'Fruit'
                    },
                    {
                        id: 4,
                        url: 'http://via.placeholder.com/500x500',
                        bigUrl: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/chain.jpg',
                        name: 'Chain',
                        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
                        category: 'Object'
                    },
                    {
                        id: 5,
                        url: 'http://via.placeholder.com/500x500',
                        bigUrl: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/chimpanzee.jpg',
                        name: 'Chimpanzee',
                        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
                        category: 'Animal'
                    },
                    {
                        id: 6,
                        url: 'http://via.placeholder.com/500x500',
                        bigUrl: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/cognac.jpg',
                        name: 'Cognac',
                        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
                        category: 'Drink'
                    },
                    {
                        id: 7,
                        url: 'http://via.placeholder.com/500x500',
                        bigUrl: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/fish.jpg',
                        name: 'Fish',
                        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
                        category: 'Animal'
                    },
                    {
                        id: 8,
                        url: 'http://via.placeholder.com/500x500',
                        bigUrl: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/shark.jpg',
                        name: 'Shark',
                        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
                        category: 'Animal'
                    },
                    {
                        id: 9,
                        url: 'http://via.placeholder.com/500x500',
                        bigUrl: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/dog.jpg',
                        name: 'Dog',
                        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
                        category: 'Animal'
                    },
                    {
                        id: 10,
                        url: 'http://via.placeholder.com/500x500',
                        bigUrl: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/kittens.jpg',
                        name: 'Kittens',
                        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
                        category: 'Animal'
                    },
                    {
                        id: 11,
                        url: 'http://via.placeholder.com/500x500',
                        bigUrl: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/gorilla.jpg',
                        name: 'Gorilla',
                        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
                        category: 'Animal'
                    },
                    {
                        id: 12,
                        url: 'http://via.placeholder.com/500x500',
                        bigUrl: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/chicken.jpg',
                        name: 'Chicken',
                        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
                        category: 'Animal'
                    },
                    {
                        id: 13,
                        url: 'http://via.placeholder.com/500x500',
                        bigUrl: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/unicorn.jpg',
                        name: 'Unicorn',
                        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
                        category: 'Mythical Creature'
                    },
                    {
                        id: 14,
                        url: 'http://via.placeholder.com/500x500',
                        bigUrl: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/shark.jpg',
                        name: 'Shark',
                        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
                        category: 'Animal'
                    }
                ]
            }
        },
        created() {
            this.doubleUp()
        },
        computed: {
            truncatedFilteredImages() {
                if(this.liveSearchString.trim().length > 0) {
                    return this.images.filter((image) => {
                        let parts = this.liveSearchString.trim().split(" ");

                        for(let part of parts) {
                            let searchRegex = new RegExp(part, 'i');

                            if(!(
                                searchRegex.test(image.name) ||
                                searchRegex.test(image.description) ||
                                searchRegex.test(image.category)
                            )) {
                                return false;
                            }
                        }

                        return true;
                    })
                } else {
                    return this.images.slice(0,this.imagesLimit)
                }
            }
        },
        filters: {
            truncateText: (text) => {
                if(text.length > 60) {
                    text = text.substring(0, 125) + "...";
                }

                return text;
            }
        },
        methods: {
            doubleUp() {
                //fake a bunch of data
                let localImages = JSON.parse(JSON.stringify(this.images))

                localImages.forEach((image) => {
                    let newImage = image
                    newImage.id  = image.id * 2
                    this.images.push(newImage)
                })

                setTimeout(() => {
                    this.loading = false
                    //then run replacePleaceholders
                    this.replacePlaceholders()
                }, 200)


            },

            replacePlaceholders() {
                this.images.forEach((image, i) => {
                    let newImg = document.createElement("img")
                    newImg.src = image.bigUrl
                    newImg.id = "preload-" + i
                    document.getElementById("imageLoaderDock").appendChild(newImg)

                    document.getElementById("preload-" + i).onload = () => {
                        this.images[i].url = image.bigUrl
                    }
                })
            },

            showMore() {
                this.imagesLimit += 6

                if(this.imagesLimit >= this.images.length) {
                    this.imagesLimit = this.images.length
                    this.allLoaded = true
                }
            }
        }
    })
</script>
</body>
</html>
