<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link href="assets/css/card.css" rel="stylesheet">
    <link href="assets/css/flip.css" rel="stylesheet">
    <title>Stand-Alone & Series Audiobooks</title>
</head>
<body>
<!--Navbar-->
<header>
    <div class="bg-dark collapse" id="navbarHeader" style="">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 py-4">
                    <h4 class="text-white">About this project</h4>
                    <p class="text-muted">I have been collecting Audiobooks for over a year and wanted to share,
                        responsibility what I have collected. Please do not connect directly to the shared google drive
                        account but download it to your own cloud storage. If you have any questions please contact
                        me.</p>
                    <p class="text-muted">Update 1.1</p>
                    <ul>
                        <li class="text-muted"><em><small>Direct connection to Audiobooks, if you still want access to the full library above buttons.</small></em></li>
                        <li class="text-muted"><em><small>Placeholder images to give a cleaner look</small></em></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-6 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a class="text-white" href="mailto:joshuaedwardk@gmail.com">Email me</a></li>
                        <li><a class="text-white" href="Tel: 1-360-521-2040">Text</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <!--                <svg aria-hidden="true" class="mr-2" fill="none" focusable="false" height="20"-->
                <!--                     stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"-->
                <!--                     width="20" xmlns="http://www.w3.org/2000/svg">-->
                <!--                    <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>-->
                <!--                    <circle cx="12" cy="13" r="4"></circle>-->
                <!--                </svg>-->
                <strong>JedwardK</strong>
            </a>
            <button aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler collapsed"
                    data-target="#navbarHeader" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<!--Header-->
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Audiobooks: Stand-Alone & Series</h1>
            <p class="lead text-muted">Audiobook instructions: copy The Audiobook to your Google Drive/Dropbox or any
                other
                Cloud Storage
                application.<br/>If the audiobook is in a Series or Stand-Alone Book, please navigate to the applicable
                section <br/><em>The filter will come later</em>
            </p>
            <a aria-disabled="true" class="btn btn-primary btn-sm"
               href="https://drive.google.com/open?id=104PiDY1fZHfwYmOJ9UtNNkwkQ334IGRA" role="button">Stand Alone</a>
            <a aria-disabled="true"
               class="btn btn-danger btn-sm" href="https://drive.google.com/open?id=1AiT6VZJlq6JlsrlIoH10vF_o818Rgv1D"
               role="button">Book Series</a>
        </div>
    </section>


<!--Content-->
<div class="container">
    <div class="row">
        <div class="xs-col-6 mt-3">
            <div id="app">
                <div class="card-deck">
                    <div class="card" v-for="item in items" style="width: auto;">
                        <img class="card-img-top" :src="item['fields']['bookCover'][0]['thumbnails']['large']['url']" alt="" v-if="item['fields']['bookCover']">
                        <div class="card-body">
                            <h5 class="card-title"><a :href="item['fields']['url']">{{ item['fields']['Title'] }}</a></h5>
                            <p class="card-text"><a :href="item['fields']['url']"><small>{{ item['fields']['subTitle'] }}</small></a></p>
                            <p class="card-text">{{ item['fields']['lookupSeries'] }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a :href="item['fields']['url']">{{ item['fields']['lookupAuthor'] }}</a></li>
                        </ul>
                        <div class="card-footer">
                            <p class="card-text"><small>{{ item['fields']['lookupGenre'] }}</small></p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>


<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div id="app">-->
<!--            <div class="card-deck">-->
<!--                <figure class="card card-flip" v-for="item in items">-->
<!--                         <div class="card bg-dark text-white">-->
<!--                        <img :src="item['fields']['bookCover'][0]['thumbnails']['large']['url']" alt=""-->
<!--                             class="card-img-top" v-if="item['fields']['bookCover']">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title"><a :href="item['fields']['url']">{{ item['fields']['Title']-->
<!--                                }}<br/><span><small>{{ item['fields']['subTitle'] }}</small></span></a></h5></p>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title"><a :href="item['fields']['url']">{{ item['fields']['Title'] }}</a>-->
<!--                            </h5>-->
<!--                            <p><a :href="item['fields']['url']">{{ item['fields']['lookupSeries'] }}</a></p>-->
<!--                        </div>-->
<!--                        <ul class="list-group list-group-flush">-->
<!--                            <li class="list-group-item"><a :href="item['fields']['url']">{{-->
<!--                                item['fields']['lookupAuthor'] }}</a></li>-->
<!--                            <li class="list-group-item"><small>{{ item['fields']['lookupGenre'] }}</small></li>-->
<!--                            <li class="list-group-item">{{ item['fields']['Rating'] }}</li>-->
<!--                            <li class="list-group-item"><a :href="item['fields']['url']"-->
<!--                                                           class="btn btn-danger btn-block">Link</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </figure>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--        End of bg-light-->
</main>

<footer class="text-muted">
    <div class="container">
             <p class="float-right">
            <a href="#">Back to top</a>
        </p>

    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--vue JS - Airtable-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="assets/js/flip.js"></script>
<!--Bootstrap Related Script-->
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            items: []
        },
        mounted: function () {
            this.loadItems();
        },
        methods: {
            loadItems: function () {
                // Init variables

                var self = this;
                var app_id = "apphBgiHVQtcKCzjH";
                var app_key = "keyBDOAAjARP294wi";
                this.items = [];
                axios
                    .get(
                        "https://api.airtable.com/v0/" +
                        app_id +
                        "/Books?view=grouped",
                        {
                            headers: {
                                Authorization: "Bearer " + app_key
                            }
                        }
                    )
                    .then(function (response) {
                        self.items = response.data.records;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    });
</script>
</body>
</html>
