<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!--    Style-->
    <link rel="stylesheet" href="assets/css/style.css">

    <title>Stand-Alone & Series Audiobooks</title>

<body>
<!-- Google Tag Manager (noscript) -->
<!--<noscript>-->
<!--    <iframe height="0"-->
<!--            src="https://www.googletagmanager.com/ns.html?id=GTM-MDQMC3Z" style="display:none;visibility:hidden"-->
<!--            width="0"></iframe>-->
<!--</noscript>-->
<!-- End Google Tag Manager (noscript) -->
<!--Navbar-->
    <!--Content-->
    <div class="container mt-5">
        <div class="row flex-xl-nowrap">
            <!--            <div class="col-12 col-md-3 col-xl-2">-->
            <!--                <div class="sidebar-header">-->
            <!--                    <h3>Audiobook</h3>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5">-->
            <div id="app">
                <div class="display-3 text-center my-5 text-secondary">Vue.js Filter</div>
                <div class="container w-75">
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <select name="" id="" class="form-control" v-model="input.type">
                                <option value="All" selected>All</option>
                                <option :value="item" v-for="item in menuArray">{{item}}</option>
                            </select>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="" id="" class="form-control" v-model.trim="input.title" placeholder="search songs...">
                        </div>
                    </div>
                </div>
                <div class="container w-75 mb-5">
                    <div class="row">
                        <div class="col-md-4" v-for="item in filterAry" :key="item.title">
                            <ul class="list-group mb-3">
                                <li class="list-group-item text-accent h4 font-weight-bold">{{item.type}}</li>
                                <li class="list-group-item text-secondary song-item d-flex flex-column "><span class="h4 ">{{item.title}}</span>{{item.singer}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--            </div>-->


        </div>
    </div>
    <!--        End of bg-light-->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--vue JS - Airtable-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<!--<script src="assets/js/flip.js"></script>-->
<!--Bootstrap Related Script-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script>
    let data = {
        menu: [{
            type: 'Rock',
            singer: 'Imagine Dragons',
            title: 'Bad Liar'
        }, {
            type: 'Rock',
            singer: 'Imagine Dragons',
            title: 'Believer'
        }, {
            type: 'Rock',
            singer: 'Maroon 5',
            title: 'Girls Like You'
        }, {
            type: 'Pop',
            singer: 'Charlie Puth',
            title: 'The Way I Am'
        }, {
            type: 'Pop',
            singer: 'Dua Lipa',
            title: 'New Rules'
        }, {
            type: 'EDM',
            singer: 'The Chainsmokers',
            title: 'Hope'
        }, {
            type: 'EDM',
            singer: 'Alan Walker',
            title: 'Lost Control'
        }, {
            type: 'Pop',
            singer: 'Post Malone',
            title: 'Better Now'
        }, {
            type: 'EDM',
            singer: 'Alan Walker',
            title: 'Faded'
        }, {
            type: 'K-Pop',
            singer: 'WINNER',
            title: 'MILLIONS'
        }, {
            type: 'K-Pop',
            singer: 'Red Velvet',
            title: 'RBB'
        }, {
            type: 'Jazz',
            singer: 'Lady Gaga',
            title: 'The Lady is a Tramp'
        }],
        input: {
            type: 'All',
            title: '',
        },
        newAry: []
    }

    let app = new Vue({
        el: '#app',
        data: data,
        computed: {
            menuArray() {
                let vm = this
                let array = new Set()
                vm.menu.forEach(function (item) {
                    array.add(item.type)
                })
                console.log(array)
                return vm.newAry = Array.from(array)

            },
            filterType() {
                let vm = this
                if (vm.input.type !== 'All') {
                    return vm.menu.filter(function (item) {
                        return item.type === vm.input.type
                    })
                } else {
                    return vm.menu
                }
            },
            filterAry() {
                let vm = this
                if (vm.input.title) {
                    return vm.filterType.filter(function (item) {
                        let content = item.title.toLowerCase()
                        let keyword = vm.input.title.toLowerCase()
                        return content.indexOf(keyword) !== -1
                    })
                } else {
                    return vm.filterType
                }

            }
        },



    })
</script>
</body>
</html>
