.card-audiobook-title {
    font-size: 9pt;
    line-height: 12pt;
    font-weight: 700;
    padding: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;

}

.card-audiobook-sub {
    font-size: 9pt;
    line-height: 10pt;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-audiobook-author {
    font-size: 9pt;
    line-height: 10pt;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card .card-audiobook-series {
    font-size: 9pt;
    line-height: 10pt;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-footer .card-audiobook-genre {
    font-size: 9pt;
    line-height: 10pt;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 6px;
    font-style: italic;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
