.card-group {
    margin: 0 -15px;
    justify-content: space-between;
}

.card-group.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: auto;
    display: -webkit-box;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
    margin-top: 8px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.audiobook-card-header {
    padding-top: 4px;
    padding-bottom: 2px;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.audiobook-card-header .card-audiobook-title {
    font-family: proxima-nova,sans-serif!important;
    margin-left: 9px;
    font-size: 14px;
    line-height: 12px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 30px;
    text-align: center;
    overflow: hidden;
}
.card-body {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-top: 8px;
    padding-bottom: 8px;
}
.card-audiobook-author {
    display: block;
    font-size: 12px;
    color: #555;
    margin: 8px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card .card-audiobook-series {
    font-size: 12px;
    line-height: 10px;
    font-weight: 500;
    margin: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.audiobook-card-footer {
    padding: 14px;
    padding-top: 8px;
    padding-right: 14px;
    padding-bottom: 8px;
    padding-left: 14px;
    margin-bottom: 0;
    /*background-color: #d1eeee;*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-audiobook-genre {
    display: block;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 4px;
    color: #555;
    /*text-transform: uppercase;*/
    margin: 8px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-audiobook-download {
    font-size: 12px;
    line-height: 10px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left: 8px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media (min-width: 400px) and (max-width: 575.98px) {
    .card-group .card {
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .card-group .card {
        -ms-flex: 0 0 44%;
        flex: 0 0 44%;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .card-group .card {
        -ms-flex: 0 0 29%;
        flex: 0 0 29%;
    }
}
@media (min-width: 992px) and (max-width: 1495.98px) {
    .card-group .card {
        -ms-flex: 0 0 23%;
        flex: 0 0 23%;
    }
}
@media (min-width: 1496px) {
    .card-group .card {
        -ms-flex: 0 0 19%;
        flex: 0 0 19%;
    }
}
