/* Flip card */
.card-flip {
    background: none;
    border: none;
    padding: 0;
}
.card-flip .card {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
}
.card-flip .card:first-of-type {
    tranform: rotateY(0deg);
}
.card-flip .card:last-of-type {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    display: flex;
}
.card-flip:hover .card:first-of-type {
    transform: rotateY(-180deg);
}
.card-flip:hover .card:last-of-type {
    transform: rotateY(0deg);
}

